<template>
    <v-container fluid>
        <v-list
                subheader

        >
            <v-subheader>Account</v-subheader>
            <v-list-item   >
                <v-list-item-icon><v-icon large>mdi-account-circle-outline</v-icon></v-list-item-icon>
                <v-list-item-title class="title">Kristiyan Kirilov</v-list-item-title>
                <v-list-item-subtitle >Name</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item >
                <v-list-item-icon><v-icon large>mdi-email-outline</v-icon></v-list-item-icon>
                <v-list-item-title class="title">kikoos1@abv.bg</v-list-item-title>
                <v-list-item-subtitle>Email</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-face-agent</v-icon></v-list-item-icon>
                <v-list-item-title class="title">14 yrs</v-list-item-title>
                <v-list-item-subtitle >Age</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-human-male-height</v-icon></v-list-item-icon>
                <v-list-item-title class="title">178 cm</v-list-item-title>
                <v-list-item-subtitle >Height</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-scale-bathroom</v-icon></v-list-item-icon>
                <v-list-item-title class="title">75 Kg</v-list-item-title>
                <v-list-item-subtitle >Weight</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-gender-male-female</v-icon></v-list-item-icon>
                <v-list-item-title class="title">Female</v-list-item-title>
                <v-list-item-subtitle >Gender</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>



        </v-list>
        <br><br>
    </v-container>
</template>

<script>
    export default {
        name: "Account"
    }
</script>

<style scoped>

</style>