<template>
    <v-container fluid>
        <v-list
                subheader

        >
            <v-subheader>Goals</v-subheader>

<!--            <v-list-item>-->
<!--                <v-list-item-icon><v-icon large>mdi-face-agent</v-icon></v-list-item-icon>-->
<!--                <v-list-item-title class="title">14 yrs</v-list-item-title>-->
<!--                <v-list-item-subtitle >Age</v-list-item-subtitle>-->
<!--                <v-list-item-action>-->
<!--                    <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>-->
<!--                </v-list-item-action>-->
<!--            </v-list-item>-->
<!--            <v-list-item>-->
<!--                <v-list-item-icon><v-icon large>mdi-human-male-height</v-icon></v-list-item-icon>-->
<!--                <v-list-item-title class="title">178 cm</v-list-item-title>-->
<!--                <v-list-item-subtitle >Height</v-list-item-subtitle>-->
<!--                <v-list-item-action>-->
<!--                    <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>-->
<!--                </v-list-item-action>-->
<!--            </v-list-item>-->
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-scale-bathroom</v-icon></v-list-item-icon>
                <v-list-item-title class="title">75 Kg</v-list-item-title>
                <v-list-item-subtitle >Weight</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-target</v-icon></v-list-item-icon>
                <v-list-item-title class="title">70 Kg</v-list-item-title>
                <v-list-item-subtitle> Target Weight</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-run-fast</v-icon></v-list-item-icon>
                <v-list-item-title class="title">Average Activity</v-list-item-title>
                <v-list-item-subtitle >Activity</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-bullseye-arrow</v-icon></v-list-item-icon>
                <v-list-item-title class="title">Lose 0.5 per week</v-list-item-title>
                <v-list-item-subtitle >Goal</v-list-item-subtitle>
                <v-list-item-action>
                    <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>
            <v-list-item>
                <v-list-item-icon><v-icon large>mdi-chart-pie</v-icon></v-list-item-icon>
                <v-list-item-title class="title">Calorie and macronutrients goal</v-list-item-title>

                <v-list-item-action>
                    <v-btn icon><v-icon>mdi-arrow-down</v-icon></v-btn>
                </v-list-item-action>
            </v-list-item>



        </v-list>
        <br><br>
    </v-container>
</template>

<script>
    export default {
        name: "Goals"
    }
</script>

<style scoped>

</style>