<template>
    <v-container fluid>
        <h1 class="title">Settings</h1>
        <router-view name="b"></router-view>
    </v-container>
</template>

<script>
    export default {
        name: "Settings"
    }
</script>

<style scoped>

</style>