<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title>Squat</v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-list >
                            <v-list-item>
                                <v-list-item-icon><v-icon color="rgb(222, 166, 11)">mdi-trophy-variant-outline </v-icon></v-list-item-icon>
                                <v-spacer></v-spacer>
                                <v-list-item-title>92.5 Kgs</v-list-item-title>
                                <v-spacer></v-spacer>
                                <v-list-item-title>5 reps</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col>
                <v-card>
                    <v-card-title>Squat</v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-list >
                            <v-list-item>
                                <v-list-item-icon><v-icon>mdi-trophy-variant-outline </v-icon></v-list-item-icon>
                                <v-spacer></v-spacer>
                                <v-list-item-title>92.5 Kgs</v-list-item-title>
                                <v-spacer></v-spacer>
                                <v-list-item-title>5 reps</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-btn
                color="green"
                dark
                large
                fixed
                bottom
                right
                fab
        >
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </v-container>
</template>

<script>
    export default {
        name: "Workout"
    }
</script>

<style scoped>

</style>