<template>
    <v-container>
        <v-row>
            <v-col md="auto">
                <v-card>
                    <v-card-title>Workout A</v-card-title>
                    <v-card-subtitle>21.12.2020</v-card-subtitle>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn rounden outlined color="green" to="/training/workout/1">See Workout</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
        <v-btn
                color="green"
                dark
                large
                fixed
                bottom
                right
                fab
        >
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </v-container>
</template>

<script>
    export default {
        name: "Workouts"
    }
</script>

<style scoped>

</style>