<template>
    <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
    >
      <v-list dense>
        <template v-for="item in items">
        
          <v-list-item
            :key="item.text"
            link
            :to="item.to"
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="white"
      
    >
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
        <span>SmartTrainer</span>
      </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-badge
                content="1"

                color="green"
                left
                overlap
        >
            <v-icon >mdi-bell-outline</v-icon>
        </v-badge>
    </v-app-bar>
    <v-content>

          <router-view></router-view>

 
    </v-content>
    
    <v-bottom-navigation
    class="hidden-md-and-up"
    v-model="bottomNav"
  >
    <v-btn value="training" to="/training">
      <span>Training</span>
      <v-icon>mdi-dumbbell</v-icon>
    </v-btn>

    <v-btn value="diary" to="/diary">
      <span>Diary</span>
      <v-icon>mdi-notebook-multiple</v-icon>
    </v-btn>

    <v-btn value="progress" to="/progress">
      <span>Progress</span>
      <v-icon>mdi-scale-bathroom  </v-icon>
    </v-btn>
  </v-bottom-navigation>
  </v-app>
</template>

<script>
  export default {
    name:"App",
    data: () => ({
      dialog: false,
      drawer: null,
     bottomNav: 'diary',
        notif:1,
      items: [
        { icon: 'mdi-home', text: 'Home',to:"/home" },
        { icon: 'mdi-notebook-multiple', text: 'Diary',to:"/diary" },
        { icon: 'mdi-dumbbell', text: 'Training',to:"/training" },
        { icon: 'mdi-scale-bathroom', text: 'Progress',to:"/progress" },
        { icon: 'mdi-account-multiple', text: 'Friends',to:"/friends" },
         { icon: 'mdi-post', text: 'Blog',to:"/blog" },
        { icon: 'mdi-settings-outline', text: 'Settings',to:"/settings/" },
         
      ],
    }),
  }
</script>
<style scoped>
.v-bottom-navigation{
  bottom:0;
  position:fixed;
}
</style>