<template>
   <v-container>
       <h1 class="text-center">Home</h1>
        <v-row justify="center" align="center">
       <v-col >
       <v-card outlined >
             <v-card-title class="text-center" >Daily intake</v-card-title>
           <v-row justify="center" align="center">
       
         
         <v-progress-circular
            value="75"
            color="green"
            size="100"
         >
         Protein
         <br>
         75/140g
         </v-progress-circular>
         <v-progress-circular
            value="75"
            color="blue"
            size="100"
         >
         Carbs
         <br>
         75/140g
         </v-progress-circular>
         <v-progress-circular
            value="75"
            color="red"
            size="100"
         >
         Fat
         <br>
         75/140g
         </v-progress-circular>
    
           </v-row>
    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text color="primary">Go to diary</v-btn>
    </v-card-actions>
       </v-card>
       </v-col>
        </v-row>
   </v-container>
</template>
<script>
export default {
    name:"Home"
}
</script>