<template>
    <v-container fluid>
        <h1 class="title">Blog</h1>
        <v-row>
            <v-col md="auto">
                <v-card
                width="50vh"
                >

                        <v-img
                                height="200px"
                                width="100%"
                                src="https://mdbootstrap.com/wp-content/uploads/2017/11/brandflow-tutorial-fb.jpg"
                        >

                            <v-chip
                                    class=" float-right black--text"
                                   color="white"
                                    dark
                            >
                                <v-icon left>mdi-server-plus</v-icon>
                                Server Status
                            </v-chip>
                        </v-img>
                    <v-btn
                    fab
                    class="float-right"
                    color="white"
                    small
                    to="/blog/post/1"
                    >
                        <v-icon>
                            mdi-arrow-right
                        </v-icon>
                    </v-btn>
                    <v-card-title>Material Desgin Secrets</v-card-title>
                    <v-card-text>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Accusantium ad, animi dolore dolorem,
                        doloremque eius eveniet ex expedita fuga
                        hic id nihil nisi qui quos, recusandae
                        sapiente voluptas! Cumque, repellat!
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Blog"
    }
</script>

<style scoped>

</style>