<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-card >
                    <v-img

                            height="45vh"
                            class="white--text align-center"
                         src="https://mdbootstrap.com/wp-content/uploads/2017/11/brandflow-tutorial-fb.jpg"
                    >


                        <v-overlay
                                :absolute="true"
                                :value="true"
                        >

                            <v-card-title class="text-center ">Material design</v-card-title>
                            <v-card-subtitle class="text-center white--text">By Admin-28.09.2020</v-card-subtitle>
                            <br><br>
                            <v-chip
                                    class=" black--text text-center mr-auto"
                                    color="white"
                                    dark
                            >
                                <v-icon left>mdi-server-plus</v-icon>
                                Server Status
                            </v-chip>
                        </v-overlay>
                    </v-img>
                </v-card>
            </v-col>
            <v-col cols="12">
                <v-card class="text-center">

                    <v-card-text class=" text--primary">
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. A,
                        adipisci asperiores deserunt eos
                        libero molestiae nihil perferendis quos.
                        Animi aspernatur consequuntur distinctio
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero. Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. A,
                        adipisci asperiores deserunt eos
                        libero molestiae nihil perferendis quos.
                        Animi aspernatur consequuntur distinctio
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero. Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. A,
                        adipisci asperiores deserunt eos
                        libero molestiae nihil perferendis quos.
                        Animi aspernatur consequuntur distinctio
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. A,
                        adipisci asperiores deserunt eos
                        libero molestiae nihil perferendis quos.
                        Animi aspernatur consequuntur distinctio
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                        dolores est, fuga ipsum veniam. Nobis, tenetur vero.
                    </v-card-text>
                </v-card>

            </v-col>
        </v-row>
        <br><br>
    </v-container>
</template>

<script>
    export default {
        name: "Post"
    }
</script>

<style scoped>

</style>