<template>
    <v-container>
        <h1 class="text-center" >Diary</h1>
        
        
        <div >
           
            <v-dialog
        ref="dialog"
        v-model="modal"
        :return-value.sync="date"
        persistent
        width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="date"
            label="Date"
            prepend-icon="mdi-event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="date" scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
        </v-date-picker>
      </v-dialog>
    
        </div>
        <br>
        <!-- <div>
            <v-card outlined>
                    <v-card-title class="text-center">1113/2500</v-card-title>
            </v-card>
        </div>
        <br> -->
            <div>
                <v-card outlined >
                        <v-card-title class="text-center" >
                            Breakfast
                            <v-spacer></v-spacer>
                            536
                            </v-card-title>
                        <v-divider></v-divider>
                        <v-list>
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title>
                                        Bread
                                        </v-list-item-title>
                                        <v-list-item-subtitle>Homemade , 30gr</v-list-item-subtitle>
                                </v-list-item-content>
                                <v-list-item-action>
                                    <v-list-item-subtitle>113</v-list-item-subtitle>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list>
                        <v-divider></v-divider>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn text color="green">Add to Breakfast <v-icon>mdi-plus</v-icon></v-btn>
                        </v-card-actions>
                </v-card>
            </div>
           <br>
           <div>
                <v-card outlined >
                    <v-card-title class="text-center" >
                        Lunch
                        <v-spacer></v-spacer>
                        536
                        </v-card-title>
                    <v-divider></v-divider>
                    <v-list>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title>
                                    Bread
                                    </v-list-item-title>
                                    <v-list-item-subtitle>Homemade , 30gr</v-list-item-subtitle>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-list-item-subtitle>113</v-list-item-subtitle>
                            </v-list-item-action>
                        </v-list-item>
                    </v-list>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn text color="green">Add to Lunch <v-icon>mdi-plus</v-icon></v-btn>
                    </v-card-actions>
                </v-card>
            </div>
            <br>
             <div>
                <v-card outlined >
                    <v-card-title class="text-center" >
                        Dinner
                        <v-spacer></v-spacer>
                        536
                        </v-card-title>
                    <v-divider></v-divider>
                    <v-list>
                        <v-list-item two-line>
                            <v-list-item-content>
                                <v-list-item-title>
                                    Bread
                                    </v-list-item-title>
                                    <v-list-item-subtitle>Homemade , 30gr</v-list-item-subtitle>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-list-item-subtitle>113</v-list-item-subtitle>
                            </v-list-item-action>
                        </v-list-item>
                    </v-list>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn text color="green">Add to Dinner <v-icon>mdi-plus</v-icon></v-btn>
                    </v-card-actions>
                </v-card>
            </div>
            <br>
            <div>
                <v-btn outlined color="blue">Nutrition <v-icon>mdi-view-dashboard-outline</v-icon></v-btn>
            </div>
            <br><br>

           
    </v-container>
</template>
<script>
export default {
    name:"Diary",
    data:()=>({
        modal:false,
        date:new Date().toISOString().substr(0, 10),
        menu:false
    })
}
</script>
<style scoped>

</style>