<template>
    <v-container fluid>
        <h1 class="title">Progress</h1>



        <v-row>
            <v-col cols="12">
                <v-card color="green" >

                    <v-sparkline
                            :value="value"
                            color="rgba(255, 255, 255, .7)"
                            stroke-linecap="round"
                            auto-line-width
                            auto-draw
                            show-labels
                            line-width="3"

                            label-size="5"
                            height="100%"

                    >
                        <template v-slot:label="item">
                            {{ item.value }}Kg
                        </template>
                    </v-sparkline>

                </v-card>
            </v-col>
            <v-col>

                <v-list>
                    <v-list-item>
                        <v-btn
                                color="purple"
                                dark
                                outlined
                                rounded

                        >
                            <v-icon>mdi-plus</v-icon>
                            Add
                        </v-btn>
                    </v-list-item>
                    <v-list-item v-for="(val,i) in value" :key="i">
                        <v-list-item-icon><v-icon>mdi-scale-bathroom</v-icon></v-list-item-icon>
                        <v-list-item-title>{{val}}Kg</v-list-item-title>
                        <v-list-item-subtitle>22.12.2020</v-list-item-subtitle>
                        <v-list-item-action>
                            <v-btn icon><v-icon color="green">mdi-pencil-outline</v-icon></v-btn>

                        </v-list-item-action>
                        <v-list-item-action>
                            <v-btn icon><v-icon color="red">mdi-delete-outline</v-icon></v-btn>
                        </v-list-item-action>
                    </v-list-item>

                </v-list>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Progress",
        data:()=>({
            // value: [73.6, 73.2, 73, 75, 74, 73.6, 72.8, 73.5, 74, 73.3, 73.9, 74, 74.5, 77.5, 75],
            value: [ 77.5, 75],
        })
    }
</script>

<style scoped>

</style>