<template>
    <v-container fluid>
        <h1 class="title">Friends</h1>
        <v-row >
            <v-col md="auto">
                <v-card width="50vh">
                    <v-img
                            height="200px"
                            width="100%"
                            src="https://img.favpng.com/7/5/8/computer-icons-font-awesome-user-font-png-favpng-YMnbqNubA7zBmfa13MK8WdWs8.jpg"
                    >
                    </v-img>
                    <v-card-title>
                        Kristiyan Kirilov
                    </v-card-title>
                    <v-card-subtitle>
                        Software Developer
                    </v-card-subtitle>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn outlined rounded color="blue" to="/friends/friend/1"><v-icon>mdi-eye</v-icon>See profile</v-btn>
                        <v-btn outlined rounded color="purple"><v-icon>mdi-plus</v-icon>Add as friend</v-btn>
<!--                        <v-btn outlined rounded color="green"><v-icon>mdi-check</v-icon>Friends</v-btn>-->
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Friends"
    }
</script>

<style scoped>

</style>