<template>
    <v-container>
        <v-row>
            <v-col md="auto">
                <v-card width="50vh">
                    <v-img
                            height="200px"
                            width="100%"
                            src="https://img.favpng.com/7/5/8/computer-icons-font-awesome-user-font-png-favpng-YMnbqNubA7zBmfa13MK8WdWs8.jpg"
                    >
                    </v-img>
                    <v-card-title>
                        Kristiyan Kirilov
                    </v-card-title>
                    <v-card-subtitle>
                        Software Developer
                    </v-card-subtitle>
                    <v-card-text>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Amet aut deleniti enim fuga iusto magnam nobis officiis
                        placeat quae, quia quibusdam quis quod totam?
                        Illo iure magnam perferendis quo temporibus.
                    </v-card-text>
                    <v-card-actions>
<!--                        <v-btn outlined rounded color="blue" to="/friends/friend/1"><v-icon>mdi-eye</v-icon>See profile</v-btn>-->
                        <v-btn outlined rounded color="purple"><v-icon>mdi-plus</v-icon>Add as friend</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
            <v-col md="auto">
                <v-card width="100vh" outlined>
                <app-progress></app-progress>
                    <v-card-actions>
                        <v-btn outlined rounded color="green"><v-icon>mdi-arrow-down</v-icon>Show more</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
            <v-col cols="12">
                <app-diary></app-diary>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import Progress from '../Progress/Progress'
    import Diary from '../Diary/Diary'
    export default {
        name: "Friend",
        components:{
            appProgress:Progress,
            appDiary:Diary
        }
    }
</script>

<style scoped>

</style>